* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 30rem;
}

.header {
  text-align: center;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.form-input {
  position: relative;

  input {
    padding: 0.75rem;
    width: 30rem;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px 0 #000;
  }

  .submit-button {
    position: absolute;
    right: 1rem;
    top: 0;
    bottom: 0;
    background: none;
    border: none;

    .add-icon {
      font-size: 1.5rem;
    }
  }
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  background-color: #dbdbdb;
  width: 100%;
  border-radius: 0.5rem;

  .task-info,
  .icons {
    display: flex;
    gap: 1rem;
  }

  .task-info {
    width: 85%;
  }

  .icons {
    padding: 0.75rem 0;
  }

  .edit-input {
    background-color: #dbdbdb;
    border: 1px solid;
    width: 100%;
    padding: 0.75rem 0;
  }
}
