* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 30rem;
}

.header h1 {
  font-size: 3rem;
}

.header p {
  font-size: 1.25rem;
}

.form-input {
  position: relative;
}

.form-input input {
  padding: 0.75rem;
  width: 30rem;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 0 #000;
}

.form-input .submit-button {
  position: absolute;
  right: 1rem;
  top: 0;
  bottom: 0;
  background: none;
  border: none;
}

.form-input .submit-button .add-icon {
  font-size: 1.5rem;
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  background-color: #dbdbdb;
  width: 100%;
  border-radius: 0.5rem;
}

.task-row .task-info,
.task-row .icons {
  display: flex;
  gap: 1rem;
}
